@charset "UTF-8";

body, html {
    background-color: lightgray;
}

.conteudo {
    width: 80vw;
    background-color: #06aa4852;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px  white;
    position: relative;
}

.conteudo p {
    margin: 20px 0;
    text-align: justify;
}

.conteudo span {
    font-weight: bold;
}

.conteudo img {
    width: 30px;
    position: absolute;
    left: 230px;
}