@charset "UTF-8";

body,html {
    background-color: lightgray;
}

.conteudo {
    background-color: #06AA48;
    width: 65vw;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px white;
}

.conteudo p {
    margin: 20px 0;
    color: black;
    text-align: justify;
}