@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

header {
    background-color: #06AA48;
}

header h1 {
    color: white;
    font-weight: 100;
    text-align: center;
    padding: 10px;
}

header div {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.137);
}

menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

menu ul li a {
    padding: 15px 15px 20px 15px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.726);
    font-weight: bold;
    text-decoration: none;
}

menu ul li a:hover {
    color: rgba(0, 0, 0, 0.705);
    border-bottom: solid 2px black;
    cursor: pointer;
    transition: .5s;
}

main h1 {
    margin: 25px;
    font-weight: 400;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 80px;
}

table td, th {
    border-top: solid 1px rgba(0, 0, 0, 0.192);
    border-bottom: solid 1px rgba(0, 0, 0, 0.192);
    padding: 20px 10px;
    font-size: 1.2em;
}

table th {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.527);
    font-size: .9em;
}

col.cinza {
    background-color: rgba(211, 211, 211, 0.397);
}

col.times {
    border-right: solid 1px rgba(0, 0, 0, 0.219);
}

.pontos {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.753);
}

div.rodadas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.seta-esquerda {
    color: #058538;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
    margin-left: 10px;
}

span.seta-esquerda:hover {
    text-decoration: underline;
    cursor: pointer;
}

div.rodadas p {
    font-weight: bold;
    padding: 10px;
    font-size: 1.3em;
}

span.seta-direita {
    color: #058538;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
    margin-right: 10px;
}

span.seta-direita:hover {
    text-decoration: underline;
    cursor: pointer;
}

div.linha {
    height: 3px;
    background-color: rgba(0, 128, 0, 0.596);
}

/* Arrumar jogos */

div.estilos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.247);
}

div.time-left {
    position: relative;
    width: 100px;
}

div.time-left .time {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.671);
}

div.time-left img {
    width: 70px;
    position: absolute;
    top: -23px;
    left: 45px;
}

div.time-left img.logo-exemplo {
    width: 50px;
    position: absolute;
    top: -10px;
    left: 54px;
}

div.time-left .simbolo {
    position: absolute;
    left: 120px;
    top: 5px;
}

div.placar-meio {
    font-size: 1.4em;
    font-weight: bold;
    width: 100px;
    text-align: center;
}

div.time-right {
    position: relative;
    width: 100px;
    text-align: right;
}

div.time-right .simbolo {
    position: absolute;
    right: 110px;
    top: 5px;
}

div.time-right img {
    width: 70px;
    position: absolute;
    right: 40px;
    top: -23px;
}

div.time-right img.logo-exemplo {
    width: 50px;
    position: absolute;
    top: -10px;
    right: 50px;
}

div.time-right .time {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.671);
}


/* Arrumar jogos */


#segunda-rodada {
    display: none;
}


.presente-ou-nao {
    width: 100%;
    text-align: center;
    padding: 20px 50px 30px 50px;
}

.presente-ou-nao p {
    display: inline-block;
    margin: 10px;
    font-size: 0.8em;
}

.simbolo-check {
    color: green;
}

.simbolo-cancel {
    color: rgb(194, 0, 0);
}

div.artilheiros {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: solid 1px  rgba(0, 0, 0, 0.212);

}

div.artilheiros p  {
    color: rgba(0, 0, 0, 0.541);
    font-size: .8em;
}


#tela {
    width: 100%;
    height: 400px;
    margin: auto;
    border-top: solid 3px rgba(0, 128, 0, 0.596);
    border-bottom: solid 3px rgba(0, 128, 0, 0.596);
}

footer {
    background-color: #06AA48;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    position: static;
    bottom: 0px;
}

footer img {
    width: 60px;
}

footer img:hover {
    width: 70px;
    transition: .5s;
}




